<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="Log4J2: %d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
	<Root level="all">
      <AppenderRef ref="STDOUT"/>
    </Root>
	</Loggers>
</Configuration>