<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Stdout" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="LogToFile" fileName="logs/app.log">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="main.java.ch.start.uebungen" level="warn">
			<AppenderRef ref="Stdout" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="LogToFile" />
		</Root>
	</Loggers>
</Configuration>